<% @pdf_url = request.url.gsub('/reports/', '/pdf/') %>

<% @taxable_investments = query do %>
    select
    sum(amount)
    from (
    select 
    commodity,
    sum(amount) * case when commodity = '$' then 1 else (select price from prices where prices.commodity = ledger.commodity order by price_date desc limit 1) end as amount
    from
    ledger
    where
    account ~ 'Assets:Investments:Taxable'
    and commodity ~ '(<%= Constants::LIQUID_TICKERS %>)'  
    group by
    commodity
    ) x;
<% end %>

<% @budget = BudgetSummaryReport.run(1, true) %>
<% @budget_remaining = (@budget.rows[0][3].value || 0) %>
<% @budget_color = @budget_remaining > 0 ? '#00ff00' : '#ff0000' %>

<% @last_updated_report = query do %>
    select
    max(updated_at at time zone 'UTC')
    from
    update_history
<% end %>
<%
def relative_time(start_time)
    diff_seconds = Time.now.utc - start_time.utc
    case diff_seconds
when 0 .. 59
    return"#{diff_seconds.to_i} seconds ago"
when 60 .. (3600-1)
    return "#{(diff_seconds/60).to_i} minutes ago"
when 3600 .. (3600*24-1)
    return "#{(diff_seconds/3600).to_i} hours ago"
when (3600*24) .. (3600*24*30) 
    return "#{(diff_seconds/(3600*24)).to_i} days ago"
else
    return start_time.strftime("%m/%d/%Y")
end
end
@last_updated = relative_time(@last_updated_report.rows[0][0].value)
%>
<html>
    <head>
	<title>Finances</title>
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/AdminLTE.min.css">
	<link rel="stylesheet" href="/css/ledger.css">
	<link rel="stylesheet" href="/css/skins/_all-skins.min.css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<!-- <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script> -->
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/adminlte.min.js"></script>
	<script type="text/javascript" src="/js/d3.min.js"></script>
	<meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport'>
	<meta content='yes' name='apple-mobile-web-app-capable'>
	<meta content='yes' name='mobile-web-app-capable'>
	<style>
	 @media print {
	     body {
		 margin: 0;
		 padding 0 !important;
		 max-width: 767px;
	     }
	     .container {
		 width: auto;
		 max-width: 767px;    
	     }
	     .navbar {
		 display: none;
	     }
	 }
	</style>
	<script>
	 window.HTTP_AUTH = <%= env['HTTP_AUTHORIZATION'].to_json %>;
	 $(document).ready(function () {
	     $('body').layout('fix');
	 });
	</script>
    </head>
    <body class="sidebar-mini skin-black">
	<header class="main-header ">
	    <!-- Header Navbar: style can be found in header.less -->
	    <nav class="navbar navbar-fixed-top">
		<header class="main-header ">
		    <a href="/" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b>L</b></span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b>Ledger</b>Web</span>
		    </a>
		</header>
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
		    <span class="sr-only">Toggle navigation</span>
		</a>
	    </nav>
	</header>
	<aside class="main-sidebar">
	    <!-- sidebar: style can be found in sidebar.less -->
	    <section class="sidebar" style="height: auto;">
		<!-- search form -->
		<form action="#" method="get" class="sidebar-form">
		    <div class="input-group">
			<input type="text" name="q" class="form-control" placeholder="Search...">
			<span class="input-group-btn">
			    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
				<i class="fa fa-search"></i>
			    </button>
			</span>
		    </div>
		</form>
		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu tree" data-widget="tree">
		    <li class="header">MAIN NAVIGATION</li>
		    <li><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
		    <li><a href="/reports/balance_sheet"><i class="fa fa-balance-scale"></i> <span>Balance Sheet</span></a></li>
		    <li><a href="/reports/cash_flow"><i class="fa fa-exchange"></i> <span>Cashflow</span></a></li>
		    <li><a href="/reports/bills"><i class="fa fa-envelope-o"></i> <span>Bills</span></a></li>
		    <li><a href="/reports/runway"><i class="fa fa-bar-chart"></i> <span>Runway</span></a></li>
		    <li><a href="/reports/_register"><i class="fa fa-list"></i> <span>Transactions</span></a></li>
		    <li><a href="/reports/update_history"><i class="fa fa-clock-o"></i> <span>Update History</span></a></li>
		</ul>
	    </section>
	    <!-- /.sidebar -->
	</aside>
	<div class="content-wrapper">
	    <%= yield %>
	</div>
    </body>
</html>
