.prettyprint {
  background-color: #FEFBF3;
  padding: 9px;
  border: 1px solid rgba(0, 0, 0, .2);
  webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-image: initial;
}

body {
  margin-top: 60px;
}

nav a.capture.button {
  font-size: 25px;
  color: #fff;
  float: right;
  line-height: 50px;
  width: 50px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}
nav a.capture.button:hover {
  text-decoration: none;
}
